body {
  background-image: url("\un-liu-ze8A0bmn5T4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  opacity: 0.8;
}

h1 {
  font-size: 50px;
  font-weight: 900;
}

.input-text {
  background-color: #f9f7fe;
  border: none;
  color: #1D426C;
  opacity: 0.4;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.input-button {
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  color: #1D426C;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
  border-style: solid;
  border-color: #1D426C;
}

.input-button:hover {
  cursor: pointer;
  background-color: #1D426C;
  color: white;
}

.current-weather-layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: #1D426C solid 1px;
  border-top: #1D426C solid 1px;
  padding: 20px;
  margin-bottom: 20px;
  }

.current-city-temp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.current-temp {
  font-size: 38px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.current-details img {
  width: 60px;
  margin-left: 10px;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}

.current-details {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
  
.current-details strong {
  color: #1D426C;
}

li {
  list-style: none;
}

.unit {
  font-size: 16px;
  position: relative;
  line-height: 1;
  top: -10px;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
}

.weather-forecast-temps-min {
  opacity: 0.6;
  margin-left: 5px;
}

.weather-forecast .row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

.weather-forecast .col {
  text-align: center;
}

footer {
  font-size: 10px;
  margin-top: 20px;
}